<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active">Teames</li>
						</ol>
					</div>
                    <% if is_admin?%>
                        <div class="d-flex align-items-center justify-content-end">
                            <%= render partial: "search", locals: {users: @users}%>
					    </div>
                    <%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card overflow-auto">
	<div class="card-body">
        <div id='team_list'>
            <%= render partial: '/teams/list', locals: {users: @users}%>
        </div>
	</div>
</div>
<div id="ppc_manager"></div>


<script>
	window.addEventListener(('turbo:load'), () => {
		document.addEventListener('submit', (event) => {
			if (event.target && event.target.className === 'delete-alertbox') {
			event.preventDefault()
			Swal.fire({
				title: 'Are you sure? You want to Delete this Employee',
				text: "You won't be able to revert this!",
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				cancelButtonText: 'No',
				confirmButtonText: 'Yes'
			})
				.then((result) => {
				if (result.isConfirmed) {
					document.querySelector('.delete-alertbox').submit()
				}
				})
				.catch(event.preventDefault())
			}
		})
	});
	document.addEventListener("turbo:load", function() {
		var user_password = [];
		$.ajax({
			type: "GET",
			url: "/users/get_password",
			dataType: "json",
			data: { key1: true },
			success: function(response) {
				emails = response.emails; 
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.error("Error fetching emails:", errorThrown);
			}
		});
	});
</script>

