
<footer class="main-footer bg-color elevation-0" id="footerDiv" style= "background-color: #dee2e6 !important;">
	<!-- To the right -->
	<div class="float-right d-none d-sm-inline">
		<%# Anything you want %>
	</div>
	<!-- Default to the left -->
	<strong>Backspacce</strong>
</footer>
