<li class="nav-item">
	<%= link_to manager_users_path, class: "nav-link"  do%>
		<i class="bi bi-people-fill p-2"></i>Employees
	<%end%>
</li>
<li class="nav-item">
	<%= link_to manager_users_path, class: "nav-link"  do%>
		<i class="bi bi-journal-text p-2"></i>Leaves
	<%end%>
</li>
<li class="nav-item">
	<%= link_to manager_users_path, class: "nav-link"  do%>
		<i class="bi bi-people p-2"></i>Teams
	<%end%>
</li>
<li class="nav-item">
	<%= link_to manager_users_path, class: "nav-link"  do%>
		<i class="bi bi-file-earmark-text-fill p-2"></i>Policy
	<%end%>
</li>