<aside class="main-sidebar bg-color elevation-0">
	<div class="position-relative" style="border-bottom: 2px solid black; padding-bottom: 10px;">
		<%= image_tag("logo.png", :size => "200x100", class: "position-absolute top", alt: "Sample image") %>
	</div>

	<!-- Sidebar -->
	<div class="sidebar mt-5">
		<nav class="mt-5">
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<div class = "nav-link">
						<i class="bi bi-people-fill p-2"></i>Dashboard
					</div>
				</li>
				<li class="nav-item">
					<%= link_to users_path, class: "nav-link"  do%>
						<i class="bi bi-people-fill p-2"></i>Users
					<%end%>
				</li>
				<% if is_admin? %>
					<li class="nav-item">
						<%= link_to roles_path, class: "nav-link"  do%>
							<i class="bi bi-person-fill-up p-2"></i>Role							
						<%end%>
					</li>
					<li class="nav-item">
						<%= link_to holidays_path, class: "nav-link"  do%>
							<i class="bi bi-plus-circle p-2"></i>Leaves
						<%end%>
					</li>
				<%end%>
				<% if is_admin? ||  is_manager? %>
					<li class="nav-item">
						<div class = "nav-link">
							<i class="bi bi-journal-text p-2"></i>Leave Requests
						</div>
					</li>
				<%end%>
				<% if is_manager? ||  is_employee? %>
					<li class="nav-item">
						<div class = "nav-link">
							<i class="bi bi-arrow-bar-right p-2"></i>Apply Leaves
						</div>
					</li>
				<% end %>
				<li class="nav-item">
					<div class = "nav-link">
						<i class="bi bi-people p-2"></i>Teams
					</div>
				</li>
				<li class="nav-item">
					<div class = "nav-link">
						<i class="bi bi-file-earmark-text-fill p-2"></i>Policy
					</div>
				</li>
				<!-- li class="nav-item dropdown">
					<a href="#works" class="nav-link dropdown-toggle" data-toggle="dropdown">Works <span
						class="caret"></span>
					</a>
					< Add your dropdown menu items here >
					<div class="dropdown-menu">
						< Example dropdown items >
						<a class="dropdown-item" href="#">Item 1</a>
						<a class="dropdown-item" href="#">Item 2</a>
						<a class="dropdown-item" href="#">Item 3</a>
					</div>
				</li-->
			</ul>
		</nav>
			<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>  
<style>
	.top{
		top: -10px;
		width: 100%;
		height: 100px;
	}
</style>