<div class="card">
    <div class="card-body">
        <div class=" reason_list close align-right">x</div>
        <div>
            <%= leave_request.description%>
        </div>
    </div>
</div>
<script>
    $('.close').on('click', function(event) {
        $(this).closest('.card').hide();
    });
</script>
<style>
    .reason_list{
        width:79% !important;
        height: auto !important;
        overflow: auto !important;
        min-height: 200px !important;
    }
</style>
