<%if user_signed_in?%>
	<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Ems:
    <%# <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a> %>
  </div>
  <!-- Copyright -->
</footer>
<%end%>