<% if user_signed_in?%>
	<div class="navbar bg-body-tertiary ">
		<span class="logo-lg">
			<%= image_tag("logo.png", class: "img-fluid", alt: "Sample image",style:"margin-right: 186px; height: 70px;") %>
		</span>
	</div>	

<%end%>
