<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active">users</li>
						</ol>
					</div>
					<div>
						<div class="d-flex  justify-content-end">
							<% if is_admin?%>
								<div>
									<%= render partial: "search", locals: {users: @users}%>
								</div>
							<%end%>
							<% if is_admin?%>
								<div class="mt-1">
									<%= button_to "New",new_user_path, method: :get, class: "btn btn-sm btn-primary"%>
								</div>
							<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card overflow-auto">
	<div class="card-body">
		<div id="user_list">
			  <%= render partial: '/users/list', locals: {users: @users}%>
		</div>
	</div>
</div>
<div id="ppc_manager"></div>


