<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-between">
					<div>
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><%= link_to "Dashboard", home_index_path %></li>
							<li class="breadcrumb-item active">Leave types</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<table class='table'>
			<thead> 
				<th>Type</th>
				<th>Count</th>
			</thead>
			<tbody>
				<% if @leave_types.present?%>
					<% @leave_types.each do|leave_type|%>
						<tr>
							<td>
								<%= leave_type.name.present? ? leave_type.name.titleize : "N/A"%>
							</td>
							<td>
								<%= leave_type.count.present? ? leave_type.count : "N/A"%>
							</td>
						</tr>
					<%end%>
				<%else%>
					<tr>
						<td colspan="12" class="text-center border-0">
							<h2 class="mt-3">Record Not Found</h2>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>