<% if error %>
  <div class="alert alert-danger alert-dismissible fade show m-1" id="danger-flash" role="alert">
		<% if error.present? %>
			<% error.each do|err| %>
				<ul>
					<span><li><%= err %></li></span>
				</ul>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			<% end %>
		<% end %>
  </div>
<% end %>


<script>
	document.addEventListener("turbo:load", function () {
    	var closeButtons = document.querySelectorAll(".alert .close");
      	closeButtons.forEach(function (button) {
        	button.addEventListener("click", function () {
				var alert = this.closest(".alert");
				alert.classList.add("d-none");
        	});
        });

        var dangerFlash = document.getElementById("danger-flash");

        if (dangerFlash) {
            setTimeout(function () {
                dangerFlash.remove();
            }, 10000);
        }
    });
</script>
